/* THEME: DARK */

* {
	background: #1b1824;
	background-alt: #232034;
	
	foreground: #f2e9f7;
	
	selected: #c77fa0;
	selected-normal: #b06b8c;
	
	active: #cfa0e0;
	
	urgent: #ffb6c1;
	
	placeholder: #e6c0eb;
	handle-color: #c77fa0;
}
